/* ====================================================

 @project: pokemons
 @author: Rickard Andersson, rickard@pxlab.com
 @content: resets

======================================================= */

/****************************************
  ==== GLOBAL RESET
****************************************/

* {
  margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box;
}
h1, h2, h3, h4, th {
  font-size: 1em; font-weight: normal; font-style: normal;
}
fieldset, iframe {
  border: none;
}
table {
  border-collapse: collapse; border-spacing: 0;
}
article, footer, header, nav, section, video, canvas {
  display: block;
}
img, img a, img a:hover {
  border: 0; display: block; max-width: 100%; -ms-interpolation-mode: bicubic;
}
iframe {
  border: 0; display: block; max-width: 100%;
}
::-moz-selection {
  background: #dbcba9; color: #1e222b; text-shadow: none;
}
::selection {
  background: #dbcba9; color: #1e222b; text-shadow: none;
}
::-ms-clear {
  display:none;
}
